	<!-- la nav bar -->
	{% trans_default_domain 'FOSUserBundle' %}
	{% if error %}
	<div>
		{{ error.messageKey|trans(error.messageData, 'security') }}
	</div>
	{% endif %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">SmarTask</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-left">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li><a href="{{ path('smartask_contact_homepage')}}">CONTACTS</a></li>
					<li><a href="{{ path('smartask_group_homepage')}}">GROUPES</a></li>
					<li><a href="{{ path('smartask_task_homepage')}}">CREER TACHE</a></li>
					<li><a href="{{ path('smartask_activity_homepage')}}">ACTIVITES</a></li>
				{% else %}	
					<li><a href="#">CONTACTS</a></li>
					<li><a href="#">GROUPES</a></li>
					<li><a href="#">CREER TACHE</a></li>
					<li><a href="#">ACTIVITES</a></li>
				{% endif %}	
				</ul>
				<ul class="nav navbar-nav navbar-right">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				    <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ app.user.username }}</a></li>
					<li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
				{% else %}	
					<li><p class="navbar-text">Already have an account?</p></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form action="{{ path("fos_user_security_check") }}"
											method="post" id="login-nav">
											<input type="hidden" name="_csrf_token"
												value="{{ csrf_token }}" />
											<div class="form-group">
												<label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
												<input type="text" class="form-control" id="username"
													name="_username" value="{{ last_username }}"
													placeholder="Username" required="required" />
											</div>
											<div class="form-group">
												<label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
												<input type="password" class="form-control" id="password"
													name="_password" placeholder="Password" required="required" />
												<div class="help-block text-right">
													<a href="{{ path('fos_user_resetting_request') }}">Forget the password ?</a>
												</div>
											</div>
											<input type="checkbox" id="remember_me" name="_remember_me"
												value="on" /> <label for="remember_me">{{ 'keep me logged-in'|trans }}</label>
											<input type="submit" class="btn btn-primary btn-block"
												id="_submit" name="_submit" value="{{ 'sign in'|trans }}" />
										</form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="{{ path('fos_user_registration_register') }}"><b>Join Us</b></a>
									</div>
								</div>
							</li>
						</ul></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>