{% extends "SMARTASKHomeBundle:Default:home.html.twig" %}
{%block tile%}{{ parent() }} - Activity{% endblock %}
{% block body %}

<div class="container">
  <h2>Liste des taches</h2>          
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Lieu</th>
        <th>Description</th>
        <th>Group</th>
        <th>Manager</th>
        <th>Responsable</th>
        <th>Date</th>
        <th>Heure</th>
      </tr>
    </thead>
    <tbody>
      {% for task in listTasks %}
      <tr>
        <td>{{ task.getTitre }}</td>
        <td>{{ task.getLocalisation }}</td>
        <td>{{ task.getDescription }}</td>
        <td>{{ task.getGroup.getNom}}</td>
        <td>{{ task.getManager.getUsername}}</td>
        <td>{{ task.getResp.getUsername}}</td>
        <td>{{ task.getDate|date("m/d/Y")}}</td>
        <td>{{ task.getTime|date("H:m")}}</td>
        <td><a href="{{ path('smartask_delete_task', {'id': task.id}) }}" class="btn btn-default" role="button">supprimer</a></td>
      </tr>
        {% endfor %}     
    </tbody>
  </table>
</div>
{% endblock %}